body { 
   background-color: #31572c ;
   font-family: 'Times New Roman', Times, serif;
}


.pizza
{
  /*  box-model */

    border: 5px solid #fb8500;
    border-radius: 0.5em;
    padding: 3em;
    margin: 3em;

    /* inline-block */
}

.medium_pizza 
{
    background-color: #31572c;
    flex: 1
}

.large_pizza
{
    background-color: #386641;
    flex: 1
}

.small_pizza
{
    background-color: #4f772d;
    flex: 1
}

.contact_us
{
    background-color: #805b10;
    flex:1
}

@media (min-width: 960px)
  /* body  */
{

    .pizzas
    {
        display: flex;
    }
}

